Repository dwavesystems/ocean-docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build, push-readme

Circumvent CircleCI limitation of continuation workflows
  .circleci/build.yml
  .circleci/config.yml
  .circleci/readme.yml
Due: none

Fix error with data sharing with remote docker execution env
  .circleci/build.yml
Due: none

Minor-update readme to trigger push to dockerhub
  README.md
  README.md.template
Due: push-readme

Push readme to dockerhub only on merge
  .circleci/build.yml
Due: none

Simplify readme push to dockerhub (use circleci's orb)
  .circleci/build.yml
  README.md
Due: push-readme

Generate new slimmer images
  dockerfiles/5/python3.10/slim-bullseye/Dockerfile
  dockerfiles/5/python3.8/slim-bullseye/Dockerfile
  dockerfiles/5/python3.9/slim-bullseye/Dockerfile
Due: run-build

Prebuild wheels for slim images in a builder container
  Dockerfile-linux.template
Due: none

Use specialized template for slim linux image
  Dockerfile-linux.template
  build.json
Due: none

Make slim images slimmer (just one layer with site packages)
  Dockerfile-linux-slim.template
Due: none

Add newly generated dockerfiles for slimmer slim images
  dockerfiles/5/python3.10/slim-bullseye/Dockerfile
  dockerfiles/5/python3.8/slim-bullseye/Dockerfile
  dockerfiles/5/python3.9/slim-bullseye/Dockerfile
Due: run-build

Use ocean-staging docker repo for PR builds
  .circleci/build.yml
Due: none

Force images rebuild
  dockerfiles/force-builds
Due: run-build

Move DOCKER_REPO to CI context, so that overwrite works on deploy
  .circleci/build.yml
Due: none

Simplify CI workflow: skip image prefixing on master build/deploy
  .circleci/build.yml
  dockerfiles/force-builds
Due: run-build

Use prod context on deploy
  .circleci/build.yml
Due: none

Generate Ocean 4.5.0 build config
  .circleci/build.yml
  README.md
  dockerfiles/4/python3.10/bullseye/Dockerfile
  dockerfiles/4/python3.10/bullseye/tags.json
  dockerfiles/4/python3.10/slim-bullseye/Dockerfile
  dockerfiles/4/python3.10/slim-bullseye/tags.json
  dockerfiles/4/python3.10/windowsservercore/Dockerfile
  dockerfiles/4/python3.10/windowsservercore/tags.json
  dockerfiles/4/python3.8/bullseye/Dockerfile
  dockerfiles/4/python3.8/bullseye/tags.json
  dockerfiles/4/python3.8/slim-bullseye/Dockerfile
  dockerfiles/4/python3.8/slim-bullseye/tags.json
  dockerfiles/4/python3.9/bullseye/Dockerfile
  dockerfiles/4/python3.9/bullseye/tags.json
  dockerfiles/4/python3.9/slim-bullseye/Dockerfile
  dockerfiles/4/python3.9/slim-bullseye/tags.json
  dockerfiles/4/python3.9/windowsservercore/Dockerfile
  dockerfiles/4/python3.9/windowsservercore/tags.json
  dockerfiles/4/shared-tags.json
  dockerfiles/5/python3.10/bullseye/tags.json
  dockerfiles/5/python3.10/slim-bullseye/tags.json
  dockerfiles/5/python3.10/windowsservercore/tags.json
  dockerfiles/5/python3.8/bullseye/tags.json
  dockerfiles/5/python3.8/slim-bullseye/tags.json
  dockerfiles/5/python3.9/bullseye/tags.json
  dockerfiles/5/python3.9/slim-bullseye/tags.json
  dockerfiles/5/python3.9/windowsservercore/tags.json
  dockerfiles/5/shared-tags.json
Due: run-build, push-readme

Add `git` to linux-slim to support pyqubo build on arm64
  Dockerfile-linux-slim.template
  dockerfiles/4/python3.10/slim-bullseye/Dockerfile
  dockerfiles/4/python3.8/slim-bullseye/Dockerfile
  dockerfiles/4/python3.9/slim-bullseye/Dockerfile
Due: run-build

Generate Ocean 5.0.0 build config
  .circleci/build.yml
  README.md
  dockerfiles/5/python3.10/bullseye/Dockerfile
  dockerfiles/5/python3.10/bullseye/tags.json
  dockerfiles/5/python3.10/slim-bullseye/Dockerfile
  dockerfiles/5/python3.10/slim-bullseye/tags.json
  dockerfiles/5/python3.10/windowsservercore/Dockerfile
  dockerfiles/5/python3.10/windowsservercore/tags.json
  dockerfiles/5/python3.8/bullseye/Dockerfile
  dockerfiles/5/python3.8/bullseye/tags.json
  dockerfiles/5/python3.8/slim-bullseye/Dockerfile
  dockerfiles/5/python3.8/slim-bullseye/tags.json
  dockerfiles/5/python3.9/bullseye/Dockerfile
  dockerfiles/5/python3.9/bullseye/tags.json
  dockerfiles/5/python3.9/slim-bullseye/Dockerfile
  dockerfiles/5/python3.9/slim-bullseye/tags.json
  dockerfiles/5/python3.9/windowsservercore/Dockerfile
  dockerfiles/5/python3.9/windowsservercore/tags.json
  dockerfiles/5/shared-tags.json
Due: run-build, push-readme

Create rebuild
  dockerfiles/5/rebuild
Due: run-build

Generate Ocean 5.1.0 dockerfiles
  README.md
  dockerfiles/5/python3.10/bullseye/Dockerfile
  dockerfiles/5/python3.10/bullseye/tags.json
  dockerfiles/5/python3.10/slim-bullseye/Dockerfile
  dockerfiles/5/python3.10/slim-bullseye/tags.json
  dockerfiles/5/python3.10/windowsservercore/Dockerfile
  dockerfiles/5/python3.10/windowsservercore/tags.json
  dockerfiles/5/python3.8/bullseye/Dockerfile
  dockerfiles/5/python3.8/bullseye/tags.json
  dockerfiles/5/python3.8/slim-bullseye/Dockerfile
  dockerfiles/5/python3.8/slim-bullseye/tags.json
  dockerfiles/5/python3.9/bullseye/Dockerfile
  dockerfiles/5/python3.9/bullseye/tags.json
  dockerfiles/5/python3.9/slim-bullseye/Dockerfile
  dockerfiles/5/python3.9/slim-bullseye/tags.json
  dockerfiles/5/python3.9/windowsservercore/Dockerfile
  dockerfiles/5/python3.9/windowsservercore/tags.json
  dockerfiles/5/shared-tags.json
Due: run-build, push-readme

Generate Ocean 5.2.0 dockerfiles
  README.md
  dockerfiles/5/python3.10/bullseye/Dockerfile
  dockerfiles/5/python3.10/bullseye/tags.json
  dockerfiles/5/python3.10/slim-bullseye/Dockerfile
  dockerfiles/5/python3.10/slim-bullseye/tags.json
  dockerfiles/5/python3.10/windowsservercore/Dockerfile
  dockerfiles/5/python3.10/windowsservercore/tags.json
  dockerfiles/5/python3.8/bullseye/Dockerfile
  dockerfiles/5/python3.8/bullseye/tags.json
  dockerfiles/5/python3.8/slim-bullseye/Dockerfile
  dockerfiles/5/python3.8/slim-bullseye/tags.json
  dockerfiles/5/python3.9/bullseye/Dockerfile
  dockerfiles/5/python3.9/bullseye/tags.json
  dockerfiles/5/python3.9/slim-bullseye/Dockerfile
  dockerfiles/5/python3.9/slim-bullseye/tags.json
  dockerfiles/5/python3.9/windowsservercore/Dockerfile
  dockerfiles/5/python3.9/windowsservercore/tags.json
  dockerfiles/5/shared-tags.json
Due: run-build, push-readme

Generate Ocean 5.3.0 dockerfiles
  README.md
  dockerfiles/5/python3.10/bullseye/Dockerfile
  dockerfiles/5/python3.10/bullseye/tags.json
  dockerfiles/5/python3.10/slim-bullseye/Dockerfile
  dockerfiles/5/python3.10/slim-bullseye/tags.json
  dockerfiles/5/python3.10/windowsservercore/Dockerfile
  dockerfiles/5/python3.10/windowsservercore/tags.json
  dockerfiles/5/python3.8/bullseye/Dockerfile
  dockerfiles/5/python3.8/bullseye/tags.json
  dockerfiles/5/python3.8/slim-bullseye/Dockerfile
  dockerfiles/5/python3.8/slim-bullseye/tags.json
  dockerfiles/5/python3.9/bullseye/Dockerfile
  dockerfiles/5/python3.9/bullseye/tags.json
  dockerfiles/5/python3.9/slim-bullseye/Dockerfile
  dockerfiles/5/python3.9/slim-bullseye/tags.json
  dockerfiles/5/python3.9/windowsservercore/Dockerfile
  dockerfiles/5/python3.9/windowsservercore/tags.json
  dockerfiles/5/shared-tags.json
Due: run-build, push-readme

Generate Ocean 5.4.0 dockerfiles
  README.md
  dockerfiles/5/python3.10/bullseye/Dockerfile
  dockerfiles/5/python3.10/bullseye/tags.json
  dockerfiles/5/python3.10/slim-bullseye/Dockerfile
  dockerfiles/5/python3.10/slim-bullseye/tags.json
  dockerfiles/5/python3.10/windowsservercore/Dockerfile
  dockerfiles/5/python3.10/windowsservercore/tags.json
  dockerfiles/5/python3.8/bullseye/Dockerfile
  dockerfiles/5/python3.8/bullseye/tags.json
  dockerfiles/5/python3.8/slim-bullseye/Dockerfile
  dockerfiles/5/python3.8/slim-bullseye/tags.json
  dockerfiles/5/python3.9/bullseye/Dockerfile
  dockerfiles/5/python3.9/bullseye/tags.json
  dockerfiles/5/python3.9/slim-bullseye/Dockerfile
  dockerfiles/5/python3.9/slim-bullseye/tags.json
  dockerfiles/5/python3.9/windowsservercore/Dockerfile
  dockerfiles/5/python3.9/windowsservercore/tags.json
  dockerfiles/5/shared-tags.json
Due: run-build, push-readme

Generate Ocean 5.5.0 dockerfiles
  README.md
  dockerfiles/5/python3.10/bullseye/Dockerfile
  dockerfiles/5/python3.10/bullseye/tags.json
  dockerfiles/5/python3.10/slim-bullseye/Dockerfile
  dockerfiles/5/python3.10/slim-bullseye/tags.json
  dockerfiles/5/python3.10/windowsservercore/Dockerfile
  dockerfiles/5/python3.10/windowsservercore/tags.json
  dockerfiles/5/python3.8/bullseye/Dockerfile
  dockerfiles/5/python3.8/bullseye/tags.json
  dockerfiles/5/python3.8/slim-bullseye/Dockerfile
  dockerfiles/5/python3.8/slim-bullseye/tags.json
  dockerfiles/5/python3.9/bullseye/Dockerfile
  dockerfiles/5/python3.9/bullseye/tags.json
  dockerfiles/5/python3.9/slim-bullseye/Dockerfile
  dockerfiles/5/python3.9/slim-bullseye/tags.json
  dockerfiles/5/python3.9/windowsservercore/Dockerfile
  dockerfiles/5/python3.9/windowsservercore/tags.json
  dockerfiles/5/shared-tags.json
Due: run-build, push-readme

Generate Ocean 6.0.0 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/slim-bullseye/Dockerfile
  dockerfiles/6/python3.10/slim-bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.8/bullseye/Dockerfile
  dockerfiles/6/python3.8/bullseye/tags.json
  dockerfiles/6/python3.8/slim-bullseye/Dockerfile
  dockerfiles/6/python3.8/slim-bullseye/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/slim-bullseye/Dockerfile
  dockerfiles/6/python3.9/slim-bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Update CI build config for Ocean 6 branch
  .circleci/build.yml
Due: none

Generate Ocean 6.0.1 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/slim-bullseye/Dockerfile
  dockerfiles/6/python3.10/slim-bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.8/bullseye/Dockerfile
  dockerfiles/6/python3.8/bullseye/tags.json
  dockerfiles/6/python3.8/slim-bullseye/Dockerfile
  dockerfiles/6/python3.8/slim-bullseye/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/slim-bullseye/Dockerfile
  dockerfiles/6/python3.9/slim-bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Generate Ocean 6.1.0 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/slim-bullseye/Dockerfile
  dockerfiles/6/python3.10/slim-bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.8/bullseye/Dockerfile
  dockerfiles/6/python3.8/bullseye/tags.json
  dockerfiles/6/python3.8/slim-bullseye/Dockerfile
  dockerfiles/6/python3.8/slim-bullseye/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/slim-bullseye/Dockerfile
  dockerfiles/6/python3.9/slim-bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Generate Ocean 6.1.1 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/slim-bullseye/Dockerfile
  dockerfiles/6/python3.10/slim-bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.8/bullseye/Dockerfile
  dockerfiles/6/python3.8/bullseye/tags.json
  dockerfiles/6/python3.8/slim-bullseye/Dockerfile
  dockerfiles/6/python3.8/slim-bullseye/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/slim-bullseye/Dockerfile
  dockerfiles/6/python3.9/slim-bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Add `version` command that outputs resolved Ocean version
  generate.py
Due: none

Add Makefile to automate new files generation/update
  Makefile
Due: none

Add `make release` that generates and commits files for latest Ocean
  Makefile
Due: none

Refactor Makefile (add branching, split generation)
  Makefile
Due: none

Generate Ocean 6.2.0 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/slim-bullseye/Dockerfile
  dockerfiles/6/python3.10/slim-bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.8/bullseye/Dockerfile
  dockerfiles/6/python3.8/bullseye/tags.json
  dockerfiles/6/python3.8/slim-bullseye/Dockerfile
  dockerfiles/6/python3.8/slim-bullseye/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/slim-bullseye/Dockerfile
  dockerfiles/6/python3.9/slim-bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Default to Python 3.10 (if undefined in tag)
  build.json
Due: none

Add Python 3.11 builds
  .circleci/build.yml
  build.json
Due: none

Generate Ocean 6.2.0 files for Python 3.11 and default to Python 3.10
  README.md
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/slim-bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/slim-bullseye/Dockerfile
  dockerfiles/6/python3.11/slim-bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/slim-bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Update supported python versions in readme text
  README.md.template
Due: none

Fix readme to match the new template
  README.md
Due: push-readme

Generate Ocean 6.3.0 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/slim-bullseye/Dockerfile
  dockerfiles/6/python3.10/slim-bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/slim-bullseye/Dockerfile
  dockerfiles/6/python3.11/slim-bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.8/bullseye/Dockerfile
  dockerfiles/6/python3.8/bullseye/tags.json
  dockerfiles/6/python3.8/slim-bullseye/Dockerfile
  dockerfiles/6/python3.8/slim-bullseye/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/slim-bullseye/Dockerfile
  dockerfiles/6/python3.9/slim-bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Path conditions:
  run-build: any of: dockerfiles/.*
  push-readme: any of: README.md
