Repository dwavesystems/ocean-docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build, push-readme

Generate Ocean 6.4.0 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/slim-bullseye/Dockerfile
  dockerfiles/6/python3.10/slim-bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/slim-bullseye/Dockerfile
  dockerfiles/6/python3.11/slim-bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.8/bullseye/Dockerfile
  dockerfiles/6/python3.8/bullseye/tags.json
  dockerfiles/6/python3.8/slim-bullseye/Dockerfile
  dockerfiles/6/python3.8/slim-bullseye/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/slim-bullseye/Dockerfile
  dockerfiles/6/python3.9/slim-bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Generate Ocean 6.4.1 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/slim-bullseye/Dockerfile
  dockerfiles/6/python3.10/slim-bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/slim-bullseye/Dockerfile
  dockerfiles/6/python3.11/slim-bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.8/bullseye/Dockerfile
  dockerfiles/6/python3.8/bullseye/tags.json
  dockerfiles/6/python3.8/slim-bullseye/Dockerfile
  dockerfiles/6/python3.8/slim-bullseye/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/slim-bullseye/Dockerfile
  dockerfiles/6/python3.9/slim-bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Update Makefile to generate files on release
  Makefile
Due: none

Generate Ocean 6.5.0 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/slim-bullseye/Dockerfile
  dockerfiles/6/python3.10/slim-bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/slim-bullseye/Dockerfile
  dockerfiles/6/python3.11/slim-bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.8/bullseye/Dockerfile
  dockerfiles/6/python3.8/bullseye/tags.json
  dockerfiles/6/python3.8/slim-bullseye/Dockerfile
  dockerfiles/6/python3.8/slim-bullseye/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/slim-bullseye/Dockerfile
  dockerfiles/6/python3.9/slim-bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Generate Ocean 6.6.0 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/slim-bullseye/Dockerfile
  dockerfiles/6/python3.10/slim-bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/slim-bullseye/Dockerfile
  dockerfiles/6/python3.11/slim-bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.8/bullseye/Dockerfile
  dockerfiles/6/python3.8/bullseye/tags.json
  dockerfiles/6/python3.8/slim-bullseye/Dockerfile
  dockerfiles/6/python3.8/slim-bullseye/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/slim-bullseye/Dockerfile
  dockerfiles/6/python3.9/slim-bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Generate Ocean 6.7.0 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/slim-bullseye/Dockerfile
  dockerfiles/6/python3.10/slim-bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/slim-bullseye/Dockerfile
  dockerfiles/6/python3.11/slim-bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.8/bullseye/Dockerfile
  dockerfiles/6/python3.8/bullseye/tags.json
  dockerfiles/6/python3.8/slim-bullseye/Dockerfile
  dockerfiles/6/python3.8/slim-bullseye/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/slim-bullseye/Dockerfile
  dockerfiles/6/python3.9/slim-bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Update config to build python 3.12 images
  build.json
Due: none

Make python 3.11 the default image
  build.json
Due: none

Add support for building py312 images
  .circleci/build.yml
Due: none

Generate Ocean 6.7.1 dockerfiles, tags and readme; Add py312
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/slim-bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/slim-bullseye/Dockerfile
  dockerfiles/6/python3.11/slim-bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.12/bullseye/Dockerfile
  dockerfiles/6/python3.12/bullseye/tags.json
  dockerfiles/6/python3.12/slim-bullseye/Dockerfile
  dockerfiles/6/python3.12/slim-bullseye/tags.json
  dockerfiles/6/python3.12/windowsservercore/Dockerfile
  dockerfiles/6/python3.12/windowsservercore/tags.json
  dockerfiles/6/python3.8/bullseye/tags.json
  dockerfiles/6/python3.8/slim-bullseye/Dockerfile
  dockerfiles/6/python3.8/slim-bullseye/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/slim-bullseye/Dockerfile
  dockerfiles/6/python3.9/slim-bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Sort tags in version order for readme rendering
  generate.py
Due: none

Auto-generate the list of supported python versions for readme
  README.md.template
  generate.py
Due: none

Update readme: stable tag order, better automation (py versions)
  README.md
Due: push-readme

Generate Ocean 6.8.0 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/slim-bullseye/Dockerfile
  dockerfiles/6/python3.10/slim-bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/slim-bullseye/Dockerfile
  dockerfiles/6/python3.11/slim-bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.12/bullseye/Dockerfile
  dockerfiles/6/python3.12/bullseye/tags.json
  dockerfiles/6/python3.12/slim-bullseye/Dockerfile
  dockerfiles/6/python3.12/slim-bullseye/tags.json
  dockerfiles/6/python3.12/windowsservercore/Dockerfile
  dockerfiles/6/python3.12/windowsservercore/tags.json
  dockerfiles/6/python3.8/bullseye/Dockerfile
  dockerfiles/6/python3.8/bullseye/tags.json
  dockerfiles/6/python3.8/slim-bullseye/Dockerfile
  dockerfiles/6/python3.8/slim-bullseye/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/slim-bullseye/Dockerfile
  dockerfiles/6/python3.9/slim-bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Generate Ocean 6.9.0 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/slim-bullseye/Dockerfile
  dockerfiles/6/python3.10/slim-bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/slim-bullseye/Dockerfile
  dockerfiles/6/python3.11/slim-bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.12/bullseye/Dockerfile
  dockerfiles/6/python3.12/bullseye/tags.json
  dockerfiles/6/python3.12/slim-bullseye/Dockerfile
  dockerfiles/6/python3.12/slim-bullseye/tags.json
  dockerfiles/6/python3.12/windowsservercore/Dockerfile
  dockerfiles/6/python3.12/windowsservercore/tags.json
  dockerfiles/6/python3.8/bullseye/Dockerfile
  dockerfiles/6/python3.8/bullseye/tags.json
  dockerfiles/6/python3.8/slim-bullseye/Dockerfile
  dockerfiles/6/python3.8/slim-bullseye/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/slim-bullseye/Dockerfile
  dockerfiles/6/python3.9/slim-bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Generate Ocean 6.10.0 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/slim-bullseye/Dockerfile
  dockerfiles/6/python3.10/slim-bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/slim-bullseye/Dockerfile
  dockerfiles/6/python3.11/slim-bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.12/bullseye/Dockerfile
  dockerfiles/6/python3.12/bullseye/tags.json
  dockerfiles/6/python3.12/slim-bullseye/Dockerfile
  dockerfiles/6/python3.12/slim-bullseye/tags.json
  dockerfiles/6/python3.12/windowsservercore/Dockerfile
  dockerfiles/6/python3.12/windowsservercore/tags.json
  dockerfiles/6/python3.8/bullseye/Dockerfile
  dockerfiles/6/python3.8/bullseye/tags.json
  dockerfiles/6/python3.8/slim-bullseye/Dockerfile
  dockerfiles/6/python3.8/slim-bullseye/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/slim-bullseye/Dockerfile
  dockerfiles/6/python3.9/slim-bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Simplify latest ocean version fetch
  generate.py
Due: none

Generate Ocean 7.0.0 dockerfiles, tags and readme
  .circleci/build.yml
  README.md
  dockerfiles/7/python3.10/bullseye/Dockerfile
  dockerfiles/7/python3.10/bullseye/tags.json
  dockerfiles/7/python3.10/slim-bullseye/Dockerfile
  dockerfiles/7/python3.10/slim-bullseye/tags.json
  dockerfiles/7/python3.10/windowsservercore/Dockerfile
  dockerfiles/7/python3.10/windowsservercore/tags.json
  dockerfiles/7/python3.11/bullseye/Dockerfile
  dockerfiles/7/python3.11/bullseye/tags.json
  dockerfiles/7/python3.11/slim-bullseye/Dockerfile
  dockerfiles/7/python3.11/slim-bullseye/tags.json
  dockerfiles/7/python3.11/windowsservercore/Dockerfile
  dockerfiles/7/python3.11/windowsservercore/tags.json
  dockerfiles/7/python3.12/bullseye/Dockerfile
  dockerfiles/7/python3.12/bullseye/tags.json
  dockerfiles/7/python3.12/slim-bullseye/Dockerfile
  dockerfiles/7/python3.12/slim-bullseye/tags.json
  dockerfiles/7/python3.12/windowsservercore/Dockerfile
  dockerfiles/7/python3.12/windowsservercore/tags.json
  dockerfiles/7/python3.8/bullseye/Dockerfile
  dockerfiles/7/python3.8/bullseye/tags.json
  dockerfiles/7/python3.8/slim-bullseye/Dockerfile
  dockerfiles/7/python3.8/slim-bullseye/tags.json
  dockerfiles/7/python3.9/bullseye/Dockerfile
  dockerfiles/7/python3.9/bullseye/tags.json
  dockerfiles/7/python3.9/slim-bullseye/Dockerfile
  dockerfiles/7/python3.9/slim-bullseye/tags.json
  dockerfiles/7/python3.9/windowsservercore/Dockerfile
  dockerfiles/7/python3.9/windowsservercore/tags.json
  dockerfiles/7/shared-tags.json
Due: run-build, push-readme

Add `make pr` command to open a PR against upstream GH repo
  Makefile
Due: none

Generate Ocean 7.1.0 dockerfiles, tags and readme
  README.md
  dockerfiles/7/python3.10/bullseye/Dockerfile
  dockerfiles/7/python3.10/bullseye/tags.json
  dockerfiles/7/python3.10/slim-bullseye/Dockerfile
  dockerfiles/7/python3.10/slim-bullseye/tags.json
  dockerfiles/7/python3.10/windowsservercore/Dockerfile
  dockerfiles/7/python3.10/windowsservercore/tags.json
  dockerfiles/7/python3.11/bullseye/Dockerfile
  dockerfiles/7/python3.11/bullseye/tags.json
  dockerfiles/7/python3.11/slim-bullseye/Dockerfile
  dockerfiles/7/python3.11/slim-bullseye/tags.json
  dockerfiles/7/python3.11/windowsservercore/Dockerfile
  dockerfiles/7/python3.11/windowsservercore/tags.json
  dockerfiles/7/python3.12/bullseye/Dockerfile
  dockerfiles/7/python3.12/bullseye/tags.json
  dockerfiles/7/python3.12/slim-bullseye/Dockerfile
  dockerfiles/7/python3.12/slim-bullseye/tags.json
  dockerfiles/7/python3.12/windowsservercore/Dockerfile
  dockerfiles/7/python3.12/windowsservercore/tags.json
  dockerfiles/7/python3.8/bullseye/Dockerfile
  dockerfiles/7/python3.8/bullseye/tags.json
  dockerfiles/7/python3.8/slim-bullseye/Dockerfile
  dockerfiles/7/python3.8/slim-bullseye/tags.json
  dockerfiles/7/python3.9/bullseye/Dockerfile
  dockerfiles/7/python3.9/bullseye/tags.json
  dockerfiles/7/python3.9/slim-bullseye/Dockerfile
  dockerfiles/7/python3.9/slim-bullseye/tags.json
  dockerfiles/7/python3.9/windowsservercore/Dockerfile
  dockerfiles/7/python3.9/windowsservercore/tags.json
  dockerfiles/7/shared-tags.json
Due: run-build, push-readme

Generate Ocean 8.0.0 dockerfiles, tags and readme
  .circleci/build.yml
  README.md
  dockerfiles/8/python3.10/bullseye/Dockerfile
  dockerfiles/8/python3.10/bullseye/tags.json
  dockerfiles/8/python3.10/slim-bullseye/Dockerfile
  dockerfiles/8/python3.10/slim-bullseye/tags.json
  dockerfiles/8/python3.10/windowsservercore/Dockerfile
  dockerfiles/8/python3.10/windowsservercore/tags.json
  dockerfiles/8/python3.11/bullseye/Dockerfile
  dockerfiles/8/python3.11/bullseye/tags.json
  dockerfiles/8/python3.11/slim-bullseye/Dockerfile
  dockerfiles/8/python3.11/slim-bullseye/tags.json
  dockerfiles/8/python3.11/windowsservercore/Dockerfile
  dockerfiles/8/python3.11/windowsservercore/tags.json
  dockerfiles/8/python3.12/bullseye/Dockerfile
  dockerfiles/8/python3.12/bullseye/tags.json
  dockerfiles/8/python3.12/slim-bullseye/Dockerfile
  dockerfiles/8/python3.12/slim-bullseye/tags.json
  dockerfiles/8/python3.12/windowsservercore/Dockerfile
  dockerfiles/8/python3.12/windowsservercore/tags.json
  dockerfiles/8/python3.8/bullseye/Dockerfile
  dockerfiles/8/python3.8/bullseye/tags.json
  dockerfiles/8/python3.8/slim-bullseye/Dockerfile
  dockerfiles/8/python3.8/slim-bullseye/tags.json
  dockerfiles/8/python3.9/bullseye/Dockerfile
  dockerfiles/8/python3.9/bullseye/tags.json
  dockerfiles/8/python3.9/slim-bullseye/Dockerfile
  dockerfiles/8/python3.9/slim-bullseye/tags.json
  dockerfiles/8/python3.9/windowsservercore/Dockerfile
  dockerfiles/8/python3.9/windowsservercore/tags.json
  dockerfiles/8/shared-tags.json
Due: run-build, push-readme

Upgrade Debian to latest stable (bullseye -> bookworm)
  .circleci/build.yml
  README.md.template
  build.json
Due: none

Upgrade Ocean 8 dockerfiles to bookworm
  README.md
  dockerfiles/8/python3.10/bookworm/Dockerfile
  dockerfiles/8/python3.10/bookworm/tags.json
  dockerfiles/8/python3.10/bullseye/tags.json
  dockerfiles/8/python3.10/slim-bookworm/Dockerfile
  dockerfiles/8/python3.10/slim-bookworm/tags.json
  dockerfiles/8/python3.11/bookworm/Dockerfile
  dockerfiles/8/python3.11/bookworm/tags.json
  dockerfiles/8/python3.11/bullseye/tags.json
  dockerfiles/8/python3.11/slim-bookworm/Dockerfile
  dockerfiles/8/python3.11/slim-bookworm/tags.json
  dockerfiles/8/python3.11/slim-bullseye/tags.json
  dockerfiles/8/python3.12/bookworm/Dockerfile
  dockerfiles/8/python3.12/bookworm/tags.json
  dockerfiles/8/python3.12/bullseye/tags.json
  dockerfiles/8/python3.12/slim-bookworm/Dockerfile
  dockerfiles/8/python3.12/slim-bookworm/tags.json
  dockerfiles/8/python3.8/bookworm/Dockerfile
  dockerfiles/8/python3.8/bookworm/tags.json
  dockerfiles/8/python3.8/bullseye/tags.json
  dockerfiles/8/python3.8/slim-bookworm/Dockerfile
  dockerfiles/8/python3.8/slim-bookworm/tags.json
  dockerfiles/8/python3.9/bookworm/Dockerfile
  dockerfiles/8/python3.9/bookworm/tags.json
  dockerfiles/8/python3.9/bullseye/tags.json
  dockerfiles/8/python3.9/slim-bookworm/Dockerfile
  dockerfiles/8/python3.9/slim-bookworm/tags.json
  dockerfiles/8/shared-tags.json
Due: run-build, push-readme

Fix CircleCI build: stop using deprecated arm64 machine image
  .circleci/build.yml
Due: none

Generate Ocean 8.0.1 dockerfiles, tags and readme
  README.md
  dockerfiles/8/python3.10/bookworm/Dockerfile
  dockerfiles/8/python3.10/bookworm/tags.json
  dockerfiles/8/python3.10/slim-bookworm/Dockerfile
  dockerfiles/8/python3.10/slim-bookworm/tags.json
  dockerfiles/8/python3.10/windowsservercore/Dockerfile
  dockerfiles/8/python3.10/windowsservercore/tags.json
  dockerfiles/8/python3.11/bookworm/Dockerfile
  dockerfiles/8/python3.11/bookworm/tags.json
  dockerfiles/8/python3.11/slim-bookworm/Dockerfile
  dockerfiles/8/python3.11/slim-bookworm/tags.json
  dockerfiles/8/python3.11/windowsservercore/Dockerfile
  dockerfiles/8/python3.11/windowsservercore/tags.json
  dockerfiles/8/python3.12/bookworm/Dockerfile
  dockerfiles/8/python3.12/bookworm/tags.json
  dockerfiles/8/python3.12/slim-bookworm/Dockerfile
  dockerfiles/8/python3.12/slim-bookworm/tags.json
  dockerfiles/8/python3.12/windowsservercore/Dockerfile
  dockerfiles/8/python3.12/windowsservercore/tags.json
  dockerfiles/8/python3.8/bookworm/Dockerfile
  dockerfiles/8/python3.8/bookworm/tags.json
  dockerfiles/8/python3.8/slim-bookworm/Dockerfile
  dockerfiles/8/python3.8/slim-bookworm/tags.json
  dockerfiles/8/python3.9/bookworm/Dockerfile
  dockerfiles/8/python3.9/bookworm/tags.json
  dockerfiles/8/python3.9/slim-bookworm/Dockerfile
  dockerfiles/8/python3.9/slim-bookworm/tags.json
  dockerfiles/8/python3.9/windowsservercore/Dockerfile
  dockerfiles/8/python3.9/windowsservercore/tags.json
  dockerfiles/8/shared-tags.json
Due: run-build, push-readme

Generate Ocean 8.1.0 dockerfiles, tags and readme
  README.md
  dockerfiles/8/python3.10/bookworm/Dockerfile
  dockerfiles/8/python3.10/bookworm/tags.json
  dockerfiles/8/python3.10/slim-bookworm/Dockerfile
  dockerfiles/8/python3.10/slim-bookworm/tags.json
  dockerfiles/8/python3.10/windowsservercore/Dockerfile
  dockerfiles/8/python3.10/windowsservercore/tags.json
  dockerfiles/8/python3.11/bookworm/Dockerfile
  dockerfiles/8/python3.11/bookworm/tags.json
  dockerfiles/8/python3.11/slim-bookworm/Dockerfile
  dockerfiles/8/python3.11/slim-bookworm/tags.json
  dockerfiles/8/python3.11/windowsservercore/Dockerfile
  dockerfiles/8/python3.11/windowsservercore/tags.json
  dockerfiles/8/python3.12/bookworm/Dockerfile
  dockerfiles/8/python3.12/bookworm/tags.json
  dockerfiles/8/python3.12/slim-bookworm/Dockerfile
  dockerfiles/8/python3.12/slim-bookworm/tags.json
  dockerfiles/8/python3.12/windowsservercore/Dockerfile
  dockerfiles/8/python3.12/windowsservercore/tags.json
  dockerfiles/8/python3.8/bookworm/Dockerfile
  dockerfiles/8/python3.8/bookworm/tags.json
  dockerfiles/8/python3.8/slim-bookworm/Dockerfile
  dockerfiles/8/python3.8/slim-bookworm/tags.json
  dockerfiles/8/python3.9/bookworm/Dockerfile
  dockerfiles/8/python3.9/bookworm/tags.json
  dockerfiles/8/python3.9/slim-bookworm/Dockerfile
  dockerfiles/8/python3.9/slim-bookworm/tags.json
  dockerfiles/8/python3.9/windowsservercore/Dockerfile
  dockerfiles/8/python3.9/windowsservercore/tags.json
  dockerfiles/8/shared-tags.json
Due: run-build, push-readme

Drop Python 3.8, add Python 3.13; default to 3.12
  .circleci/build.yml
  build.json
Due: none

Re-generate dockerfiles/readme with py313 added, py38 removed
  README.md
  dockerfiles/8/python3.11/bookworm/tags.json
  dockerfiles/8/python3.11/slim-bookworm/tags.json
  dockerfiles/8/python3.11/windowsservercore/tags.json
  dockerfiles/8/python3.12/bookworm/tags.json
  dockerfiles/8/python3.12/slim-bookworm/tags.json
  dockerfiles/8/python3.12/windowsservercore/tags.json
  dockerfiles/8/python3.13/bookworm/Dockerfile
  dockerfiles/8/python3.13/bookworm/tags.json
  dockerfiles/8/python3.13/slim-bookworm/Dockerfile
  dockerfiles/8/python3.13/slim-bookworm/tags.json
  dockerfiles/8/python3.13/windowsservercore/Dockerfile
  dockerfiles/8/python3.13/windowsservercore/tags.json
  dockerfiles/8/python3.8/bookworm/tags.json
  dockerfiles/8/python3.8/slim-bookworm/tags.json
  dockerfiles/8/shared-tags.json
Due: run-build, push-readme

Generate Ocean 8.2.0 dockerfiles, tags and readme
  README.md
  dockerfiles/8/python3.10/bookworm/Dockerfile
  dockerfiles/8/python3.10/bookworm/tags.json
  dockerfiles/8/python3.10/slim-bookworm/Dockerfile
  dockerfiles/8/python3.10/slim-bookworm/tags.json
  dockerfiles/8/python3.10/windowsservercore/Dockerfile
  dockerfiles/8/python3.10/windowsservercore/tags.json
  dockerfiles/8/python3.11/bookworm/Dockerfile
  dockerfiles/8/python3.11/bookworm/tags.json
  dockerfiles/8/python3.11/slim-bookworm/Dockerfile
  dockerfiles/8/python3.11/slim-bookworm/tags.json
  dockerfiles/8/python3.11/windowsservercore/Dockerfile
  dockerfiles/8/python3.11/windowsservercore/tags.json
  dockerfiles/8/python3.12/bookworm/Dockerfile
  dockerfiles/8/python3.12/bookworm/tags.json
  dockerfiles/8/python3.12/slim-bookworm/Dockerfile
  dockerfiles/8/python3.12/slim-bookworm/tags.json
  dockerfiles/8/python3.12/windowsservercore/Dockerfile
  dockerfiles/8/python3.12/windowsservercore/tags.json
  dockerfiles/8/python3.13/bookworm/Dockerfile
  dockerfiles/8/python3.13/bookworm/tags.json
  dockerfiles/8/python3.13/slim-bookworm/Dockerfile
  dockerfiles/8/python3.13/slim-bookworm/tags.json
  dockerfiles/8/python3.13/windowsservercore/Dockerfile
  dockerfiles/8/python3.13/windowsservercore/tags.json
  dockerfiles/8/python3.9/bookworm/Dockerfile
  dockerfiles/8/python3.9/bookworm/tags.json
  dockerfiles/8/python3.9/slim-bookworm/Dockerfile
  dockerfiles/8/python3.9/slim-bookworm/tags.json
  dockerfiles/8/python3.9/windowsservercore/Dockerfile
  dockerfiles/8/python3.9/windowsservercore/tags.json
  dockerfiles/8/shared-tags.json
Due: run-build, push-readme

Upgrade build env requirements
  requirements.txt
Due: none

Update readme template with new Ocean docs homepage
  README.md.template
Due: none

Generate Ocean 8.3.0 dockerfiles, tags and readme
  README.md
  dockerfiles/8/python3.10/bookworm/Dockerfile
  dockerfiles/8/python3.10/bookworm/tags.json
  dockerfiles/8/python3.10/slim-bookworm/Dockerfile
  dockerfiles/8/python3.10/slim-bookworm/tags.json
  dockerfiles/8/python3.10/windowsservercore/Dockerfile
  dockerfiles/8/python3.10/windowsservercore/tags.json
  dockerfiles/8/python3.11/bookworm/Dockerfile
  dockerfiles/8/python3.11/bookworm/tags.json
  dockerfiles/8/python3.11/slim-bookworm/Dockerfile
  dockerfiles/8/python3.11/slim-bookworm/tags.json
  dockerfiles/8/python3.11/windowsservercore/Dockerfile
  dockerfiles/8/python3.11/windowsservercore/tags.json
  dockerfiles/8/python3.12/bookworm/Dockerfile
  dockerfiles/8/python3.12/bookworm/tags.json
  dockerfiles/8/python3.12/slim-bookworm/Dockerfile
  dockerfiles/8/python3.12/slim-bookworm/tags.json
  dockerfiles/8/python3.12/windowsservercore/Dockerfile
  dockerfiles/8/python3.12/windowsservercore/tags.json
  dockerfiles/8/python3.13/bookworm/Dockerfile
  dockerfiles/8/python3.13/bookworm/tags.json
  dockerfiles/8/python3.13/slim-bookworm/Dockerfile
  dockerfiles/8/python3.13/slim-bookworm/tags.json
  dockerfiles/8/python3.13/windowsservercore/Dockerfile
  dockerfiles/8/python3.13/windowsservercore/tags.json
  dockerfiles/8/python3.9/bookworm/Dockerfile
  dockerfiles/8/python3.9/bookworm/tags.json
  dockerfiles/8/python3.9/slim-bookworm/Dockerfile
  dockerfiles/8/python3.9/slim-bookworm/tags.json
  dockerfiles/8/python3.9/windowsservercore/Dockerfile
  dockerfiles/8/python3.9/windowsservercore/tags.json
  dockerfiles/8/shared-tags.json
Due: run-build, push-readme

Generate Ocean 8.4.0 dockerfiles, tags and readme
  README.md
  dockerfiles/8/python3.10/bookworm/Dockerfile
  dockerfiles/8/python3.10/bookworm/tags.json
  dockerfiles/8/python3.10/slim-bookworm/Dockerfile
  dockerfiles/8/python3.10/slim-bookworm/tags.json
  dockerfiles/8/python3.10/windowsservercore/Dockerfile
  dockerfiles/8/python3.10/windowsservercore/tags.json
  dockerfiles/8/python3.11/bookworm/Dockerfile
  dockerfiles/8/python3.11/bookworm/tags.json
  dockerfiles/8/python3.11/slim-bookworm/Dockerfile
  dockerfiles/8/python3.11/slim-bookworm/tags.json
  dockerfiles/8/python3.11/windowsservercore/Dockerfile
  dockerfiles/8/python3.11/windowsservercore/tags.json
  dockerfiles/8/python3.12/bookworm/Dockerfile
  dockerfiles/8/python3.12/bookworm/tags.json
  dockerfiles/8/python3.12/slim-bookworm/Dockerfile
  dockerfiles/8/python3.12/slim-bookworm/tags.json
  dockerfiles/8/python3.12/windowsservercore/Dockerfile
  dockerfiles/8/python3.12/windowsservercore/tags.json
  dockerfiles/8/python3.13/bookworm/Dockerfile
  dockerfiles/8/python3.13/bookworm/tags.json
  dockerfiles/8/python3.13/slim-bookworm/Dockerfile
  dockerfiles/8/python3.13/slim-bookworm/tags.json
  dockerfiles/8/python3.13/windowsservercore/Dockerfile
  dockerfiles/8/python3.13/windowsservercore/tags.json
  dockerfiles/8/python3.9/bookworm/Dockerfile
  dockerfiles/8/python3.9/bookworm/tags.json
  dockerfiles/8/python3.9/slim-bookworm/Dockerfile
  dockerfiles/8/python3.9/slim-bookworm/tags.json
  dockerfiles/8/python3.9/windowsservercore/Dockerfile
  dockerfiles/8/python3.9/windowsservercore/tags.json
  dockerfiles/8/shared-tags.json
Due: run-build, push-readme

Generate Ocean 9.0.0 dockerfiles, tags and readme
  .circleci/build.yml
  README.md
  dockerfiles/9/python3.10/bookworm/Dockerfile
  dockerfiles/9/python3.10/bookworm/tags.json
  dockerfiles/9/python3.10/slim-bookworm/Dockerfile
  dockerfiles/9/python3.10/slim-bookworm/tags.json
  dockerfiles/9/python3.10/windowsservercore/Dockerfile
  dockerfiles/9/python3.10/windowsservercore/tags.json
  dockerfiles/9/python3.11/bookworm/Dockerfile
  dockerfiles/9/python3.11/bookworm/tags.json
  dockerfiles/9/python3.11/slim-bookworm/Dockerfile
  dockerfiles/9/python3.11/slim-bookworm/tags.json
  dockerfiles/9/python3.11/windowsservercore/Dockerfile
  dockerfiles/9/python3.11/windowsservercore/tags.json
  dockerfiles/9/python3.12/bookworm/Dockerfile
  dockerfiles/9/python3.12/bookworm/tags.json
  dockerfiles/9/python3.12/slim-bookworm/Dockerfile
  dockerfiles/9/python3.12/slim-bookworm/tags.json
  dockerfiles/9/python3.12/windowsservercore/Dockerfile
  dockerfiles/9/python3.12/windowsservercore/tags.json
  dockerfiles/9/python3.13/bookworm/Dockerfile
  dockerfiles/9/python3.13/bookworm/tags.json
  dockerfiles/9/python3.13/slim-bookworm/Dockerfile
  dockerfiles/9/python3.13/slim-bookworm/tags.json
  dockerfiles/9/python3.13/windowsservercore/Dockerfile
  dockerfiles/9/python3.13/windowsservercore/tags.json
  dockerfiles/9/python3.9/bookworm/Dockerfile
  dockerfiles/9/python3.9/bookworm/tags.json
  dockerfiles/9/python3.9/slim-bookworm/Dockerfile
  dockerfiles/9/python3.9/slim-bookworm/tags.json
  dockerfiles/9/python3.9/windowsservercore/Dockerfile
  dockerfiles/9/python3.9/windowsservercore/tags.json
  dockerfiles/9/shared-tags.json
Due: run-build, push-readme

Fix gh-pr make rule
  Makefile
Due: none

Add current debian stable (trixie and slim trixie) images
  .circleci/build.yml
  build.json
Due: none

Generate Ocean 9 trixie dockerfiles, tags and readme
  README.md
  README.md.template
  dockerfiles/9/python3.10/slim-trixie/Dockerfile
  dockerfiles/9/python3.10/slim-trixie/tags.json
  dockerfiles/9/python3.10/trixie/Dockerfile
  dockerfiles/9/python3.10/trixie/tags.json
  dockerfiles/9/python3.11/slim-trixie/Dockerfile
  dockerfiles/9/python3.11/slim-trixie/tags.json
  dockerfiles/9/python3.11/trixie/Dockerfile
  dockerfiles/9/python3.11/trixie/tags.json
  dockerfiles/9/python3.12/slim-trixie/Dockerfile
  dockerfiles/9/python3.12/slim-trixie/tags.json
  dockerfiles/9/python3.12/trixie/Dockerfile
  dockerfiles/9/python3.12/trixie/tags.json
  dockerfiles/9/python3.13/slim-trixie/Dockerfile
  dockerfiles/9/python3.13/slim-trixie/tags.json
  dockerfiles/9/python3.13/trixie/Dockerfile
  dockerfiles/9/python3.13/trixie/tags.json
  dockerfiles/9/python3.9/slim-trixie/Dockerfile
  dockerfiles/9/python3.9/slim-trixie/tags.json
  dockerfiles/9/python3.9/trixie/Dockerfile
  dockerfiles/9/python3.9/trixie/tags.json
Due: run-build, push-readme

Drop Python 3.9 images, add Python 3.14 images, default to 3.13
  .circleci/build.yml
  build.json
Due: none

Drop debian bookworm and slim bookworm, default to trixie
  .circleci/build.yml
  README.md.template
  build.json
Due: none

Install msvc build tools in windows images
  .circleci/build.yml
  Dockerfile-windows.template
Due: none

Path conditions:
  run-build: any of: dockerfiles/.*
  push-readme: any of: README.md
