Repository dwavesystems/ocean-docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build, push-readme

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          mapping: |
            dockerfiles/.* run-build true
          base-revision: master
          config-path: .circleci/build.yml

      - path-filtering/filter:
          mapping: |
            README.md push-readme true
          base-revision: master
          config-path: .circleci/readme.yml

Reduce windows image size
  Dockerfile-windows.template
Due: none

Optimize windows image size by removing dev components
  Dockerfile-windows.template
Due: none

Shrink windows images
  dockerfiles/9/python3.10/windowsservercore/Dockerfile
  dockerfiles/9/python3.11/windowsservercore/Dockerfile
  dockerfiles/9/python3.12/windowsservercore/Dockerfile
  dockerfiles/9/python3.13/windowsservercore/Dockerfile
  dockerfiles/9/python3.14/windowsservercore/Dockerfile
Due: run-build

Generate Ocean 9.2.0 dockerfiles, tags and readme
  README.md
  dockerfiles/9/python3.10/slim-trixie/Dockerfile
  dockerfiles/9/python3.10/slim-trixie/tags.json
  dockerfiles/9/python3.10/trixie/Dockerfile
  dockerfiles/9/python3.10/trixie/tags.json
  dockerfiles/9/python3.10/windowsservercore/Dockerfile
  dockerfiles/9/python3.10/windowsservercore/tags.json
  dockerfiles/9/python3.11/slim-trixie/Dockerfile
  dockerfiles/9/python3.11/slim-trixie/tags.json
  dockerfiles/9/python3.11/trixie/Dockerfile
  dockerfiles/9/python3.11/trixie/tags.json
  dockerfiles/9/python3.11/windowsservercore/Dockerfile
  dockerfiles/9/python3.11/windowsservercore/tags.json
  dockerfiles/9/python3.12/slim-trixie/Dockerfile
  dockerfiles/9/python3.12/slim-trixie/tags.json
  dockerfiles/9/python3.12/trixie/Dockerfile
  dockerfiles/9/python3.12/trixie/tags.json
  dockerfiles/9/python3.12/windowsservercore/Dockerfile
  dockerfiles/9/python3.12/windowsservercore/tags.json
  dockerfiles/9/python3.13/slim-trixie/Dockerfile
  dockerfiles/9/python3.13/slim-trixie/tags.json
  dockerfiles/9/python3.13/trixie/Dockerfile
  dockerfiles/9/python3.13/trixie/tags.json
  dockerfiles/9/python3.13/windowsservercore/Dockerfile
  dockerfiles/9/python3.13/windowsservercore/tags.json
  dockerfiles/9/python3.14/slim-trixie/Dockerfile
  dockerfiles/9/python3.14/slim-trixie/tags.json
  dockerfiles/9/python3.14/trixie/Dockerfile
  dockerfiles/9/python3.14/trixie/tags.json
  dockerfiles/9/python3.14/windowsservercore/Dockerfile
  dockerfiles/9/python3.14/windowsservercore/tags.json
  dockerfiles/9/shared-tags.json
Due: run-build, push-readme

Generate Ocean 9.3.0 dockerfiles, tags and readme
  README.md
  dockerfiles/9/python3.10/slim-trixie/Dockerfile
  dockerfiles/9/python3.10/slim-trixie/tags.json
  dockerfiles/9/python3.10/trixie/Dockerfile
  dockerfiles/9/python3.10/trixie/tags.json
  dockerfiles/9/python3.10/windowsservercore/Dockerfile
  dockerfiles/9/python3.10/windowsservercore/tags.json
  dockerfiles/9/python3.11/slim-trixie/Dockerfile
  dockerfiles/9/python3.11/slim-trixie/tags.json
  dockerfiles/9/python3.11/trixie/Dockerfile
  dockerfiles/9/python3.11/trixie/tags.json
  dockerfiles/9/python3.11/windowsservercore/Dockerfile
  dockerfiles/9/python3.11/windowsservercore/tags.json
  dockerfiles/9/python3.12/slim-trixie/Dockerfile
  dockerfiles/9/python3.12/slim-trixie/tags.json
  dockerfiles/9/python3.12/trixie/Dockerfile
  dockerfiles/9/python3.12/trixie/tags.json
  dockerfiles/9/python3.12/windowsservercore/Dockerfile
  dockerfiles/9/python3.12/windowsservercore/tags.json
  dockerfiles/9/python3.13/slim-trixie/Dockerfile
  dockerfiles/9/python3.13/slim-trixie/tags.json
  dockerfiles/9/python3.13/trixie/Dockerfile
  dockerfiles/9/python3.13/trixie/tags.json
  dockerfiles/9/python3.13/windowsservercore/Dockerfile
  dockerfiles/9/python3.13/windowsservercore/tags.json
  dockerfiles/9/python3.14/slim-trixie/Dockerfile
  dockerfiles/9/python3.14/slim-trixie/tags.json
  dockerfiles/9/python3.14/trixie/Dockerfile
  dockerfiles/9/python3.14/trixie/tags.json
  dockerfiles/9/python3.14/windowsservercore/Dockerfile
  dockerfiles/9/python3.14/windowsservercore/tags.json
  dockerfiles/9/shared-tags.json
Due: run-build, push-readme

Generate Ocean 9.4.0 dockerfiles, tags and readme
  README.md
  dockerfiles/9/python3.10/slim-trixie/Dockerfile
  dockerfiles/9/python3.10/slim-trixie/tags.json
  dockerfiles/9/python3.10/trixie/Dockerfile
  dockerfiles/9/python3.10/trixie/tags.json
  dockerfiles/9/python3.10/windowsservercore/Dockerfile
  dockerfiles/9/python3.10/windowsservercore/tags.json
  dockerfiles/9/python3.11/slim-trixie/Dockerfile
  dockerfiles/9/python3.11/slim-trixie/tags.json
  dockerfiles/9/python3.11/trixie/Dockerfile
  dockerfiles/9/python3.11/trixie/tags.json
  dockerfiles/9/python3.11/windowsservercore/Dockerfile
  dockerfiles/9/python3.11/windowsservercore/tags.json
  dockerfiles/9/python3.12/slim-trixie/Dockerfile
  dockerfiles/9/python3.12/slim-trixie/tags.json
  dockerfiles/9/python3.12/trixie/Dockerfile
  dockerfiles/9/python3.12/trixie/tags.json
  dockerfiles/9/python3.12/windowsservercore/Dockerfile
  dockerfiles/9/python3.12/windowsservercore/tags.json
  dockerfiles/9/python3.13/slim-trixie/Dockerfile
  dockerfiles/9/python3.13/slim-trixie/tags.json
  dockerfiles/9/python3.13/trixie/Dockerfile
  dockerfiles/9/python3.13/trixie/tags.json
  dockerfiles/9/python3.13/windowsservercore/Dockerfile
  dockerfiles/9/python3.13/windowsservercore/tags.json
  dockerfiles/9/python3.14/slim-trixie/Dockerfile
  dockerfiles/9/python3.14/slim-trixie/tags.json
  dockerfiles/9/python3.14/trixie/Dockerfile
  dockerfiles/9/python3.14/trixie/tags.json
  dockerfiles/9/python3.14/windowsservercore/Dockerfile
  dockerfiles/9/python3.14/windowsservercore/tags.json
  dockerfiles/9/shared-tags.json
Due: run-build, push-readme

Drop Python 3.10 images
  .circleci/build.yml
  build.json
Due: none

Generate Ocean 9.5.0 dockerfiles, tags and readme
  README.md
  dockerfiles/9/python3.10/slim-trixie/Dockerfile
  dockerfiles/9/python3.10/slim-trixie/tags.json
  dockerfiles/9/python3.10/trixie/Dockerfile
  dockerfiles/9/python3.10/trixie/tags.json
  dockerfiles/9/python3.10/windowsservercore/Dockerfile
  dockerfiles/9/python3.10/windowsservercore/tags.json
  dockerfiles/9/python3.11/slim-trixie/Dockerfile
  dockerfiles/9/python3.11/slim-trixie/tags.json
  dockerfiles/9/python3.11/trixie/Dockerfile
  dockerfiles/9/python3.11/trixie/tags.json
  dockerfiles/9/python3.11/windowsservercore/Dockerfile
  dockerfiles/9/python3.11/windowsservercore/tags.json
  dockerfiles/9/python3.12/slim-trixie/Dockerfile
  dockerfiles/9/python3.12/slim-trixie/tags.json
  dockerfiles/9/python3.12/trixie/Dockerfile
  dockerfiles/9/python3.12/trixie/tags.json
  dockerfiles/9/python3.12/windowsservercore/Dockerfile
  dockerfiles/9/python3.12/windowsservercore/tags.json
  dockerfiles/9/python3.13/slim-trixie/Dockerfile
  dockerfiles/9/python3.13/slim-trixie/tags.json
  dockerfiles/9/python3.13/trixie/Dockerfile
  dockerfiles/9/python3.13/trixie/tags.json
  dockerfiles/9/python3.13/windowsservercore/Dockerfile
  dockerfiles/9/python3.13/windowsservercore/tags.json
  dockerfiles/9/python3.14/slim-trixie/Dockerfile
  dockerfiles/9/python3.14/slim-trixie/tags.json
  dockerfiles/9/python3.14/trixie/Dockerfile
  dockerfiles/9/python3.14/trixie/tags.json
  dockerfiles/9/python3.14/windowsservercore/Dockerfile
  dockerfiles/9/python3.14/windowsservercore/tags.json
  dockerfiles/9/shared-tags.json
Due: run-build, push-readme
